# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
*.egg-info/
backend/abgpt_venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Mac and system files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / Dist
dist/
build/
*.egg
*.manifest
*.spec

# Environment files
.env
.env.*

# IDEs and Editors
.vscode/
.idea/
*.swp
*~

# Coverage
.coverage
htmlcov/
coverage.xml

# Git
*.orig

# VS Code settings backup
.history/
